{%extends 'cabinet.html'%}
{%block content%}
        <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
          <h1 class="h2">Доска Заказов</h1>
          <div class="btn-toolbar btn-group mb-2 mb-md-0" role="group" aria-label="Basic example">
            <div class="input-group-prepend">
              <button class="btn btn-outline-dark rounded-0 dropdown-toggle" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Категория</button>
              <div class="dropdown-menu">
                <a class="dropdown-item" href="#">Action</a>
                <a class="dropdown-item" href="#">Another action</a>
              </div>
            </div>
            <button type="button" class="rounded-0 btn btn-sm btn-outline-dark">
              <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-plus-square"><rect x="3" y="3" width="18" height="18" rx="2" ry="2"></rect><line x1="12" y1="8" x2="12" y2="16"></line><line x1="8" y1="12" x2="16" y2="12"></line></svg>
              Добавить товар
            </button>
          </div>
        </div>
        <form method="post">{% csrf_token %}
            {{ form.as_p }}
            <input type="submit" value="Сохранить">
        </form>

{%endblock%}
