{%extends 'cabinet.html'%}
{%block content%}
        <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
          <h1 class="h2">Доска Отзывов</h1>

        </div>
        <ol class="list-group">
          <li class="list-group-item">
            <div class="row ">
              <div class="col-md-2 col-sm-3 col-6">Дата <span class="d-none d-lg-inline">публикации</span></div>
              <div class="col-md-2 col-sm-4 col-6">Имя</div>
              <div class="col-md-2 d-none d-sm-block col-sm-5">Отзыв</div>
              <div class="col-md-6 d-none d-md-block">Текст отзыва</div>
            </div>
          </li>
        </ol>
        <ol class="list-group">
          {% for r in review_list %}
          <li class="list-group-item">
            <div class="row">
            <div class="col-md-2 col-sm-3 col-6">
              {{r.date|date:'d.m.Y'}}
            </div>
            <div class="col-md-2 col-sm-4 col-6">
              {{r.name}}
            </div>
            <div class="col-6 d-sm-none d-block"></div>
            <div class="col-md-2 col-sm-5 col-6 d-flex">
              <div class=" stars" id="review-{{r.order.id}}"></div> <div class="h6 ml-1"> {{r.range}}</div></div>
            <script type="text/javascript">
              $('#review-{{r.order.id}}').raty({
                starType: 'i',
                half: true,
                readOnly: true,
                score: {{r.range|floatformat}},
              });
            </script>
            <div class="col-md-6">{{r.detail}}</div>
          </div>
          </li>
          {% empty%}
          <li class="list-group-item">У вас нет отзывов</li>
          {% endfor%}
        </ol>
{%endblock%}
