<!doctype html>
<html lang="ru">
{% load staticfiles %}

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="/static/css/bootstrap.css">
  <link rel="stylesheet" href="/static/fonts/fonts.css">
  <link rel="stylesheet" href="/static/css/style.css">
  <meta charset="utf-8">
  <link rel="stylesheet" type="text/css" href="/static/css/slick.css" />
  <link rel="shortcut icon" href="/static/img/path.png">
  <link rel="stylesheet" href="/static/lib/jquery.raty.css">
  <link href="/static/css/dropdown.css" rel="stylesheet" type="text/css">
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/gh/fancyapps/fancybox@3.5.7/dist/jquery.fancybox.min.css" />
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css" integrity="sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf" crossorigin="anonymous">
  <script src="//code.jquery.com/jquery-3.3.1.min.js" integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=" crossorigin="anonymous"></script>
  <script src="//cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.6/umd/popper.min.js" integrity="sha384-wHAiFfRlMFy6i5SRaxvfOCifBUQy1xHdJ/yoi7FRNXMRBu5WHdZYu1hA6ZOblgut" crossorigin="anonymous"></script>
  <script src="//stackpath.bootstrapcdn.com/bootstrap/4.2.1/js/bootstrap.min.js" integrity="sha384-B0UglyR+jN6CkvvICOB2joaf5I4l3gm9GU6Hc1og6Ls7i6U/mkkaduKaBhlAXv9k" crossorigin="anonymous"></script>
  <script type="text/javascript" src="/static/js/slick.min.js"></script>
  <script src="/static/lib/jquery.raty.js"></script>
  <script src="/static/js/jquery.dropdown.min.js"></script>
  <script src="//cdn.jsdelivr.net/gh/fancyapps/fancybox@3.5.7/dist/jquery.fancybox.min.js"></script>
  <script src="//unpkg.com/feather-icons"></script>
  <title>Кабинет {{request.user.profile.company}}</title>

  <!-- Bootstrap core CSS -->


  <style>
    .dropdown-menu{
    min-width:6.5rem;
    }
    .bd-placeholder-img {
        font-size: 1.125rem;
        text-anchor: middle;
      }
     .btn-outline-dark:not(:disabled):not(.disabled):active:focus, .btn-outline-dark:not(:disabled):not(.disabled).active:focus, .show > .btn-outline-dark.dropdown-toggle:focus{
      box-shadow:none;
     }
     .btn-outline-dark:not(:disabled):not(.disabled):hover{
      color:white;
      background-color:#212121;
      border-color:#212121;
     }
    .dropdown-item.btn-outline-dark
      @media (min-width: 768px) {
        .bd-placeholder-img-lg {
          font-size: 3.5rem;
        }
      }
    </style>
  <!-- Custom styles for this template -->
  <link href="/static/css/dashboard.css" rel="stylesheet">

</head>
{% url 'tovar_index' as tovar_index %}
{% url 'order_index' as order_index %}
{% url 'gallery_index' as gallery_index %}
{% url 'review_index' as review_index%}
{% url 'profile_index' as profile_index%}
{% url 'analitic_index' as analitic_index%}
{% url 'tariff_index' as tariff_index%}

<body>
  <nav class="navbar navbar-dark navbar-expand-md fixed-top p-0 shadow-sm" style=" background-color: black">
    <a class="navbar-brand pl-3" href="">{{request.user.profile.company}}</a>
    <button class="navbar-toggler mr-3" type="button" data-toggle="collapse" data-target="#navbarText" aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse mx-3" id="navbarText">
      <ul class="navbar-nav justify-content-end">
        <li class="d-md-none nav-item">
          <a class="nav-link {% if analitic_index in request.path%}active{%endif%}" href="{{analitic_index}}">
            Аналитика
          </a>
        </li>
        <li class="d-md-none nav-item">
          <a class="nav-link {% if order_index in request.path%}active{%endif%}" href="{{order_index}}">
            Заказы
          </a>
        </li>
        <li class="d-md-none nav-item">
          <a class="nav-link {% if review_index in request.path%}active{%endif%}" href="{{review_index}}">
            Отзывы
          </a>
        </li>
        <li class="d-md-none nav-item">
          <a class="nav-link {% if tariff_index in request.path%}active{%endif%}" href="{{tariff_index}}">
            Тарифы
          </a>
        </li>
        <li class="d-md-none nav-item">
          <a class="nav-link {% if tovar_index in request.path%}active{%endif%}" href="{{tovar_index}}">
            Загрузка товаров
          </a>
        </li>
         <li class="d-md-none nav-item">
          <a class="nav-link {% if gallery_index in request.path%}active{%endif%}" href="{{gallery_index}}">
            Галлерея
          </a>
        </li>
        <li class="d-md-none nav-item">
          <a class="nav-link {% if profile_index in request.path%}active{%endif%}" href="{{profile_index}}">
            Профиль
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{%url 'notify_index'%}">
            Уведомления {%if note > 0%}<span class="ml-1 badge badge-pill badge-success">{{note}}</span>{%endif%}
          </a>
        </li>
        <li class="nav-item text-nowrap">
          <a class="nav-link" href="{% url 'logout' %}">
            Выйти
          </a>
        </li>
      </ul>
    </div>
  </nav>

  <div class="container-fluid">
    <div class="row">
      <nav class="col-md-2 d-none d-md-block bg-light sidebar">
        <div class="sidebar-sticky fixed-top">
          <ul class="nav flex-column">
            <li class="nav-item">
              <a class="nav-link {% if analitic_index in request.path%}active{%endif%}" href="{{analitic_index}}">
                <span class="mr-1" data-feather="activity"></span>
                Аналитика
              </a>
            </li>
            <li class="nav-item">
              <a class="nav-link {% if order_index in request.path%}active{%endif%}" href="{{order_index}}">
                <span class="mr-1" data-feather="briefcase"></span>
                Заказы
              </a>
            </li>
            <li class="nav-item">
              <a class="nav-link {% if review_index in request.path%}active{%endif%}" href="{{review_index}}">
                <span class="mr-1" data-feather="book"></span>
                Отзывы
              </a>
            </li>
            <li class="nav-item">
              <a class="nav-link {% if tariff_index in request.path%}active{%endif%}" href="{{tariff_index}}">
                <span class="mr-1" data-feather="dollar-sign"></span>
                Тарифы
              </a>
            </li>
            <li class="nav-item">
              <a class="nav-link {% if tovar_index in request.path%}active{%endif%}" href="{{tovar_index}}" >
                <span class="mr-1" data-feather="download-cloud"></span>
                Загрузка товаров
              </a>
            </li>
            <li class="nav-item">
              <a class="nav-link {% if gallery_index in request.path%}active{%endif%}" href="{{gallery_index}}">
                <span data-feather="image"></span>
                Галерея
              </a>
            </li>
            <li class="nav-item">
              <a class="nav-link {% if profile_index in request.path%}active{%endif%}" href="{{profile_index}}">
                <span data-feather="dollar-sign"></span>
                Профиль
              </a>
            </li>

          </ul>
        </div>
      </nav>

      <main role="main" class="col-md-9 ml-sm-auto col-lg-10 px-4">
        {%block content%}
        {%endblock%}
      </main>
    </div>
  </div>
  <script>
        feather.replace()
  </script>

<script>
  $('.phone').text(function(i, text) {
    return text.replace(/(\d{3})(\d{3})(\d{2})(\d{2})/, '+38'+' ($1) $2-$3-$4');
});
$('.identificate').text(function(i, text) {
    return text.replace(/(\d{3})(\d{3})(\d{2})(\d{2})/,  '$1-$2-$3-$4');
});
</script>

</body>

</html>
