<style type="text/css">
  .actcii{
    background:url('/static/img/4.png') no-repeat;
    background-size:cover;
  }
  @media (max-width: 768px){
    .actcii{
      background:url('/static/img/4_4.png') no-repeat;
      background-size:cover;

    }
  }
  @media (max-width: 360px){
    .actcii{
      background:url('/static/img/3_2.png') no-repeat;
      background-size:cover;
    }
  }




</style>
<section class="actcii">
    <div class="container py-5">
        <h2 class="text-uppercase font-weight-bold text-white col-lg-7 col-md-9">Получить прайс от всех поставщиков</h2>
        <div class="col-lg-5 mt-3 col-md-6">
            <div class="row">
                <div class="col-2"><img src="/static/img/network.png" alt="" class="img img-fluid"></div>
                <div class="col-10 font-weight-light text-white">Мы не являемся посредниками. Ваша заявка уйдет напрямую
                    поставщикам.
                </div>
            </div>
        </div>
        <div class="col-md-2 col-sm-4 col-7 mt-4">
            <button class="btn btn-block text-dark bg-primary btn-primary" type="button" data-toggle="modal"
                    data-target=".bd-example-modal">Подать заявку
            </button>
        </div>
    </div>
</section>