{% extends "index.htm" %}
{%block content %}
<section class="container">
  <h4 class="mt-5">Цены в городе <a href="#bd-example-modal-xl" class="ml-1 btn-link modal-link" data-toggle="modal" data-target=".bd-example-modal-xl">{{city_name}}</a></h4>
  <div class="card-deck my-5">
    {% for category in cat_list %}
    <div class="card my-5">
      <div class="card-header"> <img src="/{{category.image}}" class="img img-logo img-fluid" alt="">
        <a class="text-dark"href="{%url 'catalog_category' city_slug=city cat_slug=category.slug%}"><h4 class="mt-5 font-weight-bold text-center">{{category.name}}</h4></a>
      </div>
      <div class="card-body">{% for r in category.subcategory_set.all%}
        <a href="{% url 'catalog_subcategory' city_slug=city cat_slug=category.slug subcat_slug=r.slug %}" class="row my-3 btn-link text-dark"><div class="col-7 text-left">{{r}}</div>
          <div class="col-5 text-right">{% if r.minimus.average_price%}от  {{r.minimus.average_price}} грн{%else%} Нет цен{%endif%}</div>
          </a>
        {%empty%}
        <div class="my-3 text-center text-dark">Нет товаров</div>
        {%endfor%}
      </div>
    </div>

    {% endfor %}

  </div>
<!--  <div class="text-center mb-5">-->
<!--    <a href="#" class="btn-link text-dark ">Показать ещё</a>-->
<!--  </div>-->
</section>
{% endblock %}
{%block reklama%}
{%include 'reklama.html'%}
{%endblock%}